.content{
    background-color: #fff;
    width: 250px;
    height: 200px;
    position: fixed;
    right: 500px;
    top: 150px;
    border-radius: 5px;
    
}

.teste{
    background-color: black;
    z-index: 1;
    
}