.content{
    background-color: #fff;
    width: 250px;
    height: 200px;
    position: fixed;
    right: 500px;
    top: 150px;
    border-radius: 5px;
    z-index: 71;
    box-shadow: 0px 7px 17px -7px rgba(0,0,0,0.59);
    
}