*{
    margin: 0;
   padding: 0;
}

.IconSearch{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5px;
    top: 1px;
    color: #F80032;
    font-size: 25px;
    cursor: pointer;
    padding: 5px;
}

.inputSearchBar{
    width: 610px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    margin-left: 50px;
    box-shadow: rgb(0 0 0 / 20%) 0px 10px 15px;
   
}

.inputBar{
    display: flex;
    max-width: 646px;
    position: relative; 
    z-index: 74;
}