
.mainMenu{
    display:flex;
    background-color: #F80032; 
    width: 100%;
    height: 120px;
    align-items: center;
    justify-content: center;;
}

.imgLogo{

    display: inline-flex;
    margin-left: 2rem;
}

.btnLogin,svg{
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    white-space: nowrap;
    margin-left: 8px;
    line-height: 18px;
    align-items: center;
}

.navLinks{
    margin-left: 30px;
}

.navLinks>a>svg{
 margin: 15px;
  flex-direction: row!important; 
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.userIcon{
    margin-left: 50px;
}

